* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation */
nav {
    background: #1e293b;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* Sections */
.section {
    padding: 60px 30px;
    text-align: center;
}

.home {
    background: #38bdf8;
    color: white;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home span {
    color: #1e293b;
}

/* Profile Image */
.profile-img {
    width: 350px;
    height:350px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 20px;
}

/* Education */
.education-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.education-box {
    width: 250px;
}

.education-box img {
    width: 100%;
    border-radius: 10px;
}

/* Skills */
.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill {
    background: #1e293b;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.gallery img {
    width: 260px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

/* Contact */
form {
    max-width: 400px;
    margin: auto;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    width: 100%;
    padding: 10px;
    background: #1e293b;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #38bdf8;
}

/* Footer */
footer {
    background: #1e293b;
    color: white;
    padding: 15px;
    text-align: center;
}